; Database connection parameters
; https://magicstack.github.io/asyncpg/current/api/index.html
[postgresql]
host = localhost
user = test
password = test
database = test

; Web server parameters
[web]
host = 0.0.0.0
port = 8080
